
    @{
        ViewBag.Title = "kaydol";
        Layout = "~/Views/Shared/default_layout.cshtml";
    }
    <style>
        #common_banner {
            background-image: url('/Content/img/banner/banner5.png');
            padding: 200px 0 130px 0;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <!-- Common Banner Area -->
    <section id="common_banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>Kaydol</h2>
                        <ul>
                            <li><a href="index.html">Anasayfa</a></li>
                            <li><span><i class="fas fa-circle"></i></span> Kaydol</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  Common Author Area -->
    <section id="common_author_area" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="common_author_boxed">
                        <div class="common_author_heading">
                            <h3>Kayıt Olun</h3>
                        
                        </div>
                        <div class="common_author_form">
                            <form action="~/Home/kaydol" method="post" id="main_author_form">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Kullanıcı Adınız" name="kullaniciad" required maxlength="12"/>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control"
                                           placeholder="Email" name="email" required />
                                </div>
                                <div class="form-group">
                                    <input type="password" name="sifre" class="form-control" placeholder="Şifre" min="5" maxlength="15" />
                                </div>
                                <div class="form-group">
                                    <input type="password" name="sifretekrar" class="form-control" placeholder="Şifre Tekrar" min="5" maxlength="15"/>
                                </div>                                                
                                    <img src="/Home/captcha" width="80" height="30" />
                                    <div class="form-group" id="com-form-login-password">
                                        <input type="text" placeholder="Güvenlik Rakamını Giriniz" class="form-control" id="modlgn-passwd" required name="txt_captcha" maxlength="5">
                                    </div>                         
                                <div class="common_form_submit">
                                    <button class="btn btn_theme btn_md">Kayıt Ol</button>
                                </div>
                                <div class="have_acount_area other_author_option">

                                    <p>Hesabın Var mı? <a href="/Home/girisyap">Giriş Yap</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



